/*Navigation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/*Photo Block*/
#div1 {
  display: block;
  background-color: red;
  background-image: url("https://images.unsplash.com/photo-1477332552946-cfb384aeaf1c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG1lbnRhbCUyMGhlYWx0aHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  height: 100%;
}

/*carousel*/
.carousel-container {
  position: relative; /* Added position */
  z-index: 1; /* Added z-index */
}

.carousel {
  position: absolute; /* Added position */
  top: -400; /* Adjust the top position as needed */
  left: 150; /* Adjust the left position as needed */
  width: 400px;
  height: 221px;
  background-size: cover;
}

.fade {
  -webkit-animation: 1.5s fade;
  animation: 1.5s fade;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.NormalDiv1-container {
  position: relative; /* Added position */
  z-index: 1; /* Added z-index */
}

.NormalDiv1 {
  position: absolute; /* Added position */
  background-color: bisque;
  margin-right: 800px;
  top: -400; /* Adjust the top position as needed */
  left: 750; /* Adjust the left position as needed */
  width: 400px;
  height: 380px;
}

.btndonate {
  margin-top: 150px;
  margin-left: 150px;
  width: 80px;
  height: 50px;
  background-color: yellow;
  color: red;
}

#search {
  background-color: grey;
  color: black;
  margin-left: 980px;
  margin-top: -35px;
}

#Searchbtn {
  margin-left: 1170px;
  margin-top: -35px;
}
